.banner {
  background-image: url(https://specials-images.forbesimg.com/imageserve/5f302109ffad89f9130e07db/960x0.jpg?cropX1=0&cropX2=4800&cropY1=243&cropY2=2943);
  background-size: cover;
  color: white;
  padding: 200px 0;
  line-height: 35px;
}

.banner p {
  font-size: 20px;
  opacity: 0.6;
}



