.btn-green {
  background-color: #6AD58B;
  border-radius: 50px;
  padding: 15px 25px;
  color: white;
  opacity: 0.8;
  font-weight: bold;
  transition: 0.3s;
}

.btn-green:hover {
  opacity: 1;
  background-color: #3ac162;
}

.fab {
  font-size: 35px;
  color: #6AD58B;
  padding: 0 10px;
}
